a {
    color: #DC5F5F;
    transition: all 0.2s;
}

a:hover {
    color: #8a1e1e;
}

.navbar-light .navbar-nav a.nav-link {
    color:rgba(0,0,0,.9);
}

.navbar-light .navbar-nav a:hover.nav-link {
    color:#DC5F5F;
}

.mediumnavigation {
    background: #f3d2cf;
}

h1.posttitle {
    color: #DC5F5F;
}

img.float-right {
    float: right; 
}

figure {
    margin: 0 0 15px 15px;
}