@media (min-width: 1400px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1140px;
    }
}

h1 {
    color: #DC5F5F;
}

.navigation {
    width: 100%;
    position: relative;
    min-height: 70px;
    z-index: 1000;
}

#navbarNav {
    justify-content: flex-end;
}

.navbar-light .navbar-brand {
    color: #DC5F5F;
}

.navbar-nav .nav-link {
    padding-left: 1.2rem;
    padding-right: 1.2rem;
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    background-color: #DC5F5F;
    color: #FFFFFF;
}

.navbar-light, .navbar-nav, .nav-link {
    color: #333333;
    font-weight: 600;
}

.bg-secondary {
    background-color: #DC5F5F!important;
}

#home, #courses, #about-me, #moon-yoga {
    min-height: 100vh;
}

#home, #about-me, #contact {
    background-color: #DED1C280;
}

#home-banner {
    background-image: url('img/zen-bear-yoga-IVf7hm88zxY-unsplash.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
}

#courses .list-group-item.disabled {
    text-decoration: line-through;
}

/* https://github.com/twbs/bootstrap/issues/35900 */
[id=about-me], [id=courses], [id=moon-yoga], [id=contact]  {
    scroll-margin-top: 4rem;
}

.contact-card {
    background: #FFFFFF;
    border-radius: 0;
    padding: 60px 10px;
    margin: 10px 10px;
}

.contact-card .text{
    margin: 20px 0px;
}

.contact-card .fa {
     color: #4183D7;
}